@import '../../../globals.scss';

.btn {
    border: 0;
    outline: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    border-radius: 30px;

    font-size: 24px;
    font-weight: 700;

    padding: 20px 40px;
    cursor: pointer;

    &:disabled {
        opacity: .6;
    }

    &.btn_primary {
        background: linear-gradient(-170deg,$primaryColor, $secondaryColor);
        color: #fff;
    }

    &.btn_secondary {
        font-size: 18px;
        background-color: #fff;
        color: #000;
    }
}