$primaryColor: #8455FF;
$primaryColorLight: #B79FF7;
$secondaryColor: #351686;

$fontSizeLead: 2.5rem;
$fontSizeText: 1rem;
$colorText: #475569;

$colorTitle: #0D002E;
$colorTitleTwo: #0F172A;
$borderColorTitle: #5222D0;

$fontFamilyTitle: "Roboto", sans-serif;
$fontFamilyText: "Poppins", sans-serif;